.contact {
    background-color:#111;
    padding: 20px;
    text-align: center;
    /* margin-top: 30px; */
  }

  .contact h2 {
    color: var(--basicColor);
    font-size: 24px;
    margin-bottom: 10px;
  }

  .contact p {
    font-size: 16px;
    color: #333;
  }

  .contact .contact-info {
    margin-top: 20px;
  }

  .contact .contact-info p {
    margin-bottom: 5px;
  }

  .contact .contact-info a {
    color: #333;
    text-decoration: none;
  }

  .contact .contact-info a:hover {
    text-decoration: underline;
  }
